html {
  font-family: sans-serif;
  box-sizing: border-box;
  text-align: center;
}

#mainBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gameBoard {}

#winBox {}

#windicator {
  color: blue;
  font-size: 30px;
  padding: 10px;
}

#buttonReset {}

#buttonReset:hover {
  color: red;
}

.visible {
  display: contents;
}

.invisible {
  display: none;
}

.row {
  display: flex;
}

.cell {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cellWall {
  color: blue;
  background: black;
}

.cellFloor {
  background: white;
}

.cellStart {
  background: green;
}

.cellStorage {
  background: orange;
}

.player {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: blue;
  animation-duration: 200ms;
}

.box {
  height: 15px;
  width: 15px;
  border-radius: 10%;
  background: brown;
}

.moveDown {
  animation-name: moveDown;
}

@keyframes moveDown {
  from {
    margin-top: -33px;
  }
  to {
    margin-top: 0px;
  }
}

.moveUp {
  animation-name: moveUp;
}

@keyframes moveUp {
  from {
    margin-bottom: -33px;
  }
  to {
    margin-bottom: 0px;
  }
}

.moveRight {
  animation-name: moveRight;
}

@keyframes moveRight {
  from {
    margin-left: -33px;
  }
  to {
    margin-left: 0;
  }
}

.moveLeft {
  animation-name: moveLeft;
}

@keyframes moveLeft {
  from {
    margin-right: -33px;
  }
  to {
    margin-right: 0px;
  }
}

